*{
    margin:0px;
    padding:0px;
}

#barra-superior {
    margin:auto;
    width:100%;
    background:#5339ae; 
    height:28px; 
    z-index:101; 
}

h2{
    color:#ffffff;
    font:normal normal 18px Arial; 
    padding: 5px;
    text-align:center;
}

#barra-inferior-father {
    margin:auto;
    width:100%;
    background:fffff; 
    height:70px; 
    border-bottom: 4px solid #adbcdc;
    position:fixed;
    z-index:101;
}

ul, ol {
    list-style:none;
}

.menu > li {
    float:left;
}

.menu{
    margin:0 auto;
    width:1000px;
}

.menu li a {
    color:#5339ae;
    font:normal normal 18px Arial; 
    text-transform:uppercase;
    letter-spacing: 3px; 
    text-decoration:none;
    padding:25px 5px;
    display:block;
    cursor:pointer;

}

.menu li a:hover {
    color: #a983ef;
}

.menu li ul {
    background-color: #f4f0f1;
    display:none;
    position:absolute;
    min-width:140px;
}

.menu li ul a {
    color: #5339ae;
    font:normal normal 12px ARIAL;
    text-transform:uppercase;
    letter-spacing: 2px;
}

.menu li:hover > ul {
    display:block;
}

.logotype{
    width: 45px;
    height: 45px;
    padding-top: 10px;
    margin-left: 15px;
}

.search-box{
    width:22%; 
    text-align:center;
    padding:15px 0;
    MARGIN-LEFT: 50PX;
    color:#5339ae;
    border:0px solid #cccccc;
    background:#ffffff;
    font: normal normal 15px Lato;
    border-radius: 5px;
}

#buscar-top{ 
    margin-top:12px; 
    margin-right:170px;
}