*{
    margin:0px;
    padding:0px;
}

#barra-superior {
    margin:auto;
    width:100%;
    background:#5339ae; 
    height:28px; 
    z-index:101; 
}

h2{
    color:#ffffff;
    font:normal normal 18px Arial; 
    padding: 5px;
    text-align:center;
}

#barra-inferior-father {
    margin:auto;
    width:100vw;
    background-color: #ffffff; 
    height:70px; 
    border-bottom: 4px solid #adbcdc;
    position:sticky;
    z-index:101;
    top:0px;
    padding-top:.2em;
}

ul, ol {
    list-style:none;
}

.menu > li {
    float:left;
}

.menu{
    margin:0 auto;
    width:1000px;
}

.menu li a {
    color:#5339ae;
    font:normal normal 18px Arial; 
    text-transform:uppercase;
    letter-spacing: 2px; 
    text-decoration:none;
    padding:14px 10px;
    display:block;
    cursor:pointer;

}

.menu li a:hover {
    color: #a983ef;
}

.menu li ul {
    background-color: #f4f0f1;
    text-align:center;
    display:none;
    position:absolute;
    min-width:140px;
}

.menu li ul a {
    color: #5339ae;
    font:normal normal 12px ARIAL;
    text-transform:uppercase;
    letter-spacing: 2px;
}

.menu li:hover > ul {
    display:block;
}

.logo{
    display: block;
    float: left;
    width: 100px;
    height: auto;
    padding: 10px;
    margin-left: 2em;
}

.search-box{
    width:22%; 
    text-align:center;
    padding:10px 0;
    MARGIN-LEFT: 50PX;
    color:#5339ae;
    border:0px solid #cccccc;
    background:#ffffff;
    font: normal normal 15px Lato;
    border-radius: 5px;
    border: 1px solid  #5339ae;
}

#buscar-top{ 
    margin-top:0.6em; 
    width: 100vw;
}

/*banner*/

.pht-banner{
    width: 100vw;
}

.contenedor{
    width: 100vw;
    overflow: hidden;
}

/*newsletter y Container informacion*/

.container-newsletter, .container-info{
    padding: 100px 40px;
    text-align: center;
    font-family: "montserrat", sans-serif;
}

.container-info{
    background-color: #cccccc;
}

.container-newsletter p{
    max-width: 600px;
    margin: 40px auto;
    font-size: 15px;
    font-weight: 300;
}

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
}

.email-box i{
    background: #000;
    color: #cccccc;
    width: 40px;
    line-height: 40px;
}

.container-info i{
    color: #898989;
    font-size: 30px;
    line-height: 60px;
    right: 0;
    width: 60px;
}

.tbox, .btn{
    border: none;
    outline: none;
}

.tbox{
    width: 0px;
    transition: 0.6s;
}

.email-box:hover > .tbox,.tbox:focus{
    width: 260px;
    padding: 0 10px;
}

.btn{
    background: #000000;
    color: #cccccc;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0%;
}

.container-info i{
    color: #898989;
}

.container-info p{
    margin-left: 5vh;
    margin-right: 5vh;
}

/*Imagen fondo*/
.container-newsletter{
    background-image: linear-gradient(rgba(5,7,12,.75), rgba(5,7,12,.75)), url("../img/fondo-imagen-1.jpg");
}