*{
    margin:0px;
    padding:0px;
}
.barra-superior {
    margin:auto;
    width:100%;
    background:#5339ae; 
    height:28px; 
    z-index:101; 
}
.text-oferta{
    color: #ffffff;
    font: normal normal 18px Ariel;
    padding: 5px;
}
#barra-inferior-father {
    margin:auto;
    width:100vw;
    background-color: #ffffff; 
    height:70px; 
    border-bottom: 4px solid #adbcdc;
    position:sticky;
    z-index:101;
    top:0px;
    padding-top:.2em;
}
ul, ol {
    list-style:none;
}
.menu > li {
    float:left;
}
.menu{
    margin:0 auto;
    width:1000px;
}
.menu li a {
    color:#5339ae;
    font:normal normal 18px Arial; 
    text-transform:uppercase;
    letter-spacing: 2px; 
    text-decoration:none;
    padding:14px 10px;
    display:block;
    cursor:pointer;
}
.menu li a:hover {
    color: #a983ef;
}
.menu li ul {
    background-color: #f4f0f1;
    text-align:center;
    display:none;
    position:absolute;
    min-width:140px;
}
.menu li ul a {
    color: #5339ae;
    font:normal normal 12px ARIAL;
    text-transform:uppercase;
    letter-spacing: 2px;
}
.menu li:hover > ul {
    display:block;
}
.logo-inicio{
    display: block;
    float: left;
    width: 100px;
    height: auto;
    padding: 0 2px 0 10px;
}

/* scroll tetxt */ 
#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 22s linear infinite;
    -webkit-animation: my-animation 22s linear infinite;
    animation: my-animation 22s linear infinite;
}
  
  /* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}
  
  /* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}
  
@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

/*search box*/
.active-purple input.form-control[type=text] {
    border-bottom: 1px solid #5339ae;
    box-shadow: 0 1px 0 0 #5339ae;
}
.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #5339ae;
    box-shadow: 0 1px 0 0 #5339ae;
}
.active-purple .fa, .active-purple-2, .fa .fas .fa-search{
  color: #5339ae;
}

/*banner*/
.pht-banner{
    width: 100vw;
}
.contenedor{
    width: 100vw;
    overflow: hidden;
}

/*newsletter y Container informacion*/
.container-newsletter, .container-info{
    padding: 100px 40px;
    text-align: center;
    font-family: "montserrat", sans-serif;
}
.container-info{
    background-color: #cccccc;
}
.social-icon:hover{
    color: #a983ef;
}
.social-media-icon:hover{
    color: transparent;
}
.container-newsletter p{
    max-width: 600px;
    margin: 40px auto;
    font-size: 15px;
    font-weight: 300;
}
.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
}
.email-box i{
    background: #000;
    color: #cccccc;
    width: 40px;
    line-height: 40px;
}
.container-info i{
    color: #898989;
    font-size: 30px;
    line-height: 60px;
    right: 0;
    width: 60px;
}
.tbox, .btn{
    border: none;
    outline: none;
}
.tbox{
    width: 0px;
    transition: 0.6s;
}
.email-box:hover > .tbox,.tbox:focus{
    width: 260px;
    padding: 0 10px;
}
.btn{
    background: #000000;
    color: #cccccc;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0%;
}
.container-info i{
    color: #898989;
}
.container-info p{
    margin-left: 5vh;
    margin-right: 5vh;
}

/*Imagen fondo*/
.container-newsletter{
    background-image: linear-gradient(rgba(5,7,12,.75), rgba(5,7,12,.75)), url("../img/fondo-imagen-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top; 
}
.newsletter{
    color: rgb(255, 255, 255);
}

/*shopping*/
.shopping-cart{
    color: #5339ae;
    position: fixed;
    font-size: 30px;
    line-height: 60px;
    right: 0;
    width: 60px;
    margin: 70vh 90vw 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.shopping-cart:hover{
    color: #5c4c95;
    font-size: 32px;
}

/*top productos*/
.top-bestseller{
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.container-betseller{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
    padding-top: 3em;
    padding-bottom: 3em;

}
.container-betseller>div{
    box-shadow: 0 0 5px 0 #6449c4;
    background-color: #d4c9fa;
    border-radius: 20px;
}
.container-betseller>div:hover{
    box-shadow: 0 0 5px 0 #3705ed;
}
.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.informacion>p:first-child{
    font-family: 'montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.informacion .precio{
    font-size: 20px;
    font-weight: 500;
}
.informacion .precio span{
    font-size: 17px;
    font-weight: 300;
}
.informacion button{
    background-color: #5235bb;
    color: #ffffff;
    width: 100px;
    height: 35;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    padding-bottom: .2em;
}
.informacion button:hover{
    background-color: #c0b2f1;
    color: #333232;
}
.informacion>p,.informacion>button{
    margin: auto;
    text-align: center;
}


/*carrito*/
.carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 3rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.itemCartTotal{
    color: #5235bb;
}
.button-carrito{
    background: transparent;
    border: none;
}
.carrito{
    display:none
}
.carrito:hover{
    display: block;
}

.active{
    background: #8a55ed;
}
